body {
    margin: 0;
    background-image: url(wp2721344-xbox-360-backgrounds.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    header {
        background-color: black;
        color: antiquewhite;
    }
}
